.mail {
	background-color: #828283;
	padding: 15px 30px 20px 30px;
	width: 400px;
}

.name, .topic {
	font-family: lato;
	color: white;
}

.name {
	font-size: 1.56rem;

}

.topic {
	font-size: 1.125rem;
}

.column .mail {
	width: auto;
  border-radius: 10px;
	margin: 5px 0;
}

.inbox .mail {
  border: #FFFFFF solid 1px;
}