.mail {
	background-color: #2E2E2E;
	padding: 15px 30px 20px 30px;
	width: 400px;
	box-shadow: 0 5px 12px -1px rgba(0, 0, 0, 0.3);
	margin-top: 1px;
}

.mail__divider {
	position: absolute;
	bottom: 0;
}

.head {
	display: flex;
}

.name {
	font-size: 1.3rem;
	display: inline-block;
	font-weight: 700;
}

.time {
	display: inline-block;
	margin-left: auto;
	margin-top: auto;
	color: #c6c6c6;
}


.name, .topic {
	font-family: lato;
	color: white;
}

.topic {
	font-size: 1rem;
	color: #c6c6c6;
}
.column .mail {
	width: auto;
	border-radius: 9px;
	margin-top: 10px;
	box-shadow: 0 2px 8px -1px rgba(0, 0, 0, 0.5);
}

.column .topic {
	margin-top: 5px;
}