.column {
	width: 350px;
	margin: 10px 0;
	

	display: flex;
	flex-flow: column;


  /* background-color: #4C4B4E; */
  border-right: #FFFFFF solid 1px;
	padding: 10px;
}

.column .title {
  font-size: 24px;
  color: black;
  position: relative;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
  top: -30px;
  margin-bottom: -20px;
  border-radius: 5px;
}