.column {
	width: 350px;

	display: flex;
	flex-flow: column;

	padding-left: 25px;
}
.column .title {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 50px;
	border-radius: 0 0 9px 9px;
	border-radius: 0 0 9px 9px;

	text-align: center;
	color: #2e2e2e;
	font-size: 25px;
	font-family: "lato";
	font-weight: 700;

}